h2{
    width: 600;
}
.gramm{
    width: 700;
}
h2{
    margin: 0px 0px 0px 650px;
}
.gramm{
    margin: 45px 0px 60px 580px;
}
.donate{
    margin: 150px 0px 150px 115px;
    font-size: 15px;
}
a{
    color: black;
}
.tg{
    margin: 150px 0px 150px 650px;
}